.stages{
    padding: 100px 0;
}

.stages__container {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
        "s1 s1 s2"
        "s1 s1 s3"
        "s4 s5 s6"
    ;
    gap: 20px;
    padding: 10px;
}

.stages-1 {
    grid-area: s1;
    background:  url("img/other-bg.png") center/cover no-repeat;
    border-radius: 50px;
    position: relative;
}

.stages-1 img{
    width: 45%;
    position: absolute;
    bottom: 0%;
    left: 10%;
}

.number-1, .number-2, .number-3{
    font-size: 9rem;
    color: var(--accent-color-2);
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 5%;
}

.stages-2 {
    grid-area: s2;
    position: relative;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
}

.word-1, .word-2, .word-3{
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.stages-3 {
    grid-area: s3;
    background: linear-gradient(50.02deg, #0BB6FF -2.98%, #7E62B3 51.58%, #9452A5 52.7%, #FF055F 100%);
    border-radius: 50px;
}

.stages-4 {
    grid-area: s4;
    position: relative;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
}

.stages-5 {
    grid-area: s5;
    background: linear-gradient(227.5deg, #0BB6FF 5.18%, #F8964F 60%, #FF055F 100%);
    border-radius: 50px;
}

.stages-6 {
    grid-area: s6;
    position: relative;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
}