footer{
    padding: 100px 0;
    background-color: black;
    color: white;   
    text-align: center;
    height: 600px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer a{
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

footer h3{
    margin-bottom: 30px;
}